<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345492712964-g85f3b44danoo8spcbs1crgi37g7fr63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345492712964-g85f3b44danoo8spcbs1crgi37g7fr63</string>
	<key>API_KEY</key>
	<string>AIzaSyD2h8i9Qdg_8ov1Ba-PVZSCWeuIcBcfOWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>345492712964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterJetchart</string>
	<key>PROJECT_ID</key>
	<string>flutterjetchart</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterjetchart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345492712964:ios:31044f65f63a97e08b8f51</string>
</dict>
</plist>